GetiPlayerPostProcessing/My Project/Application.Designer.vb
GetiPlayerPostProcessing/GetiPlayerPostProcessing_TemporaryKey.pfx
GetiPlayerPostProcessing/My Project/Application.myapp
GetiPlayerPostProcessing/My Project/AssemblyInfo.vb
GetiPlayerPostProcessing/My Project/Resources.Designer.vb
GetiPlayerPostProcessing/My Project/Resources.resx
GetiPlayerPostProcessing/My Project/Settings.Designer.vb
GetiPlayerPostProcessing/My Project/Settings.settings