GetiPlayerPostProcessing/My Project/Application.Designer.vb
GetiPlayerPostProcessing/GetiPlayerPostProcessing_TemporaryKey.pfx
GetiPlayerPostProcessing/My Project/Application.myapp
GetiPlayerPostProcessing/My Project/AssemblyInfo.vb
GetiPlayerPostProcessing/My Project/Resources.Designer.vb
GetiPlayerPostProcessing/My Project/Resources.resx
GetiPlayerPostProcessing/My Project/Settings.Designer.vb
GetiPlayerPostProcessing/My Project/Settings.settings
GetiPlayerPostProcessing/My Project/app.manifest
GetiPlayerPostProcessing/bin/Debug/GetiPlayerPostProcessing.application
GetiPlayerPostProcessing/bin/Debug/GetiPlayerPostProcessing.exe
GetiPlayerPostProcessing/bin/Debug/GetiPlayerPostProcessing.exe.config
GetiPlayerPostProcessing/bin/Debug/GetiPlayerPostProcessing.exe.manifest
GetiPlayerPostProcessing/bin/Debug/GetiPlayerPostProcessing.pdb
GetiPlayerPostProcessing/bin/Debug/GetiPlayerPostProcessing.vshost.application
GetiPlayerPostProcessing/bin/Debug/GetiPlayerPostProcessing.vshost.exe.config
GetiPlayerPostProcessing/bin/Debug/GetiPlayerPostProcessing.vshost.exe.manifest
GetiPlayerPostProcessing/bin/Debug/GetiPlayerPostProcessing.xml
GetiPlayerPostProcessing/bin/Debug/datebasedrules.txt
GetiPlayerPostProcessing/bin/Release/GetiPlayerPostProcessing.application
GetiPlayerPostProcessing/bin/Release/GetiPlayerPostProcessing.exe
GetiPlayerPostProcessing/bin/Release/GetiPlayerPostProcessing.exe.config
GetiPlayerPostProcessing/bin/Release/GetiPlayerPostProcessing.exe.manifest
GetiPlayerPostProcessing/bin/Release/GetiPlayerPostProcessing.pdb
GetiPlayerPostProcessing/bin/Release/GetiPlayerPostProcessing.xml
GetiPlayerPostProcessing/bin/Release/app.publish/Application Files/GetiPlayerPostProcessing_1_0_0_16/GetiPlayerPostProcessing.exe.config.deploy
GetiPlayerPostProcessing/bin/Release/app.publish/Application Files/GetiPlayerPostProcessing_1_0_0_16/GetiPlayerPostProcessing.exe.deploy
GetiPlayerPostProcessing/bin/Release/app.publish/Application Files/GetiPlayerPostProcessing_1_0_0_16/GetiPlayerPostProcessing.exe.manifest
GetiPlayerPostProcessing/bin/Release/app.publish/GetiPlayerPostProcessing.application
GetiPlayerPostProcessing/bin/Release/app.publish/setup.exe
GetiPlayerPostProcessing/bin/Release/app.publish/publish.htm
GetiPlayerPostProcessing/bin/Debug/GetiPlayerPostProcessing.vshost.exe
GetiPlayerPostProcessing/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
GetiPlayerPostProcessing/obj/x86/Debug/DesignTimeResolveAssemblyReferences.cache
GetiPlayerPostProcessing/obj/x86/Debug/GenerateResource.write.1.tlog
GetiPlayerPostProcessing/obj/x86/Debug/GetiPlayerPostProcessing.Form1.resources
GetiPlayerPostProcessing/obj/x86/Debug/GetiPlayerPostProcessing.Resources.resources
GetiPlayerPostProcessing/obj/x86/Debug/GetiPlayerPostProcessing.Settings.resources
GetiPlayerPostProcessing/obj/x86/Debug/GetiPlayerPostProcessing.application
GetiPlayerPostProcessing/obj/x86/Debug/GetiPlayerPostProcessing.exe
GetiPlayerPostProcessing/obj/x86/Debug/GetiPlayerPostProcessing.exe.manifest
GetiPlayerPostProcessing/obj/x86/Debug/GetiPlayerPostProcessing.pdb
GetiPlayerPostProcessing/obj/x86/Debug/GetiPlayerPostProcessing.vbproj.FileListAbsolute.txt
GetiPlayerPostProcessing/obj/x86/Debug/GetiPlayerPostProcessing.xml
GetiPlayerPostProcessing/obj/x86/Debug/ResolveAssemblyReference.cache
GetiPlayerPostProcessing/obj/x86/Release/DesignTimeResolveAssemblyReferences.cache
GetiPlayerPostProcessing/obj/x86/Release/DesignTimeResolveAssemblyReferencesInput.cache
GetiPlayerPostProcessing/obj/x86/Release/GenerateResource.read.1.tlog
GetiPlayerPostProcessing/obj/x86/Release/GenerateResource.write.1.tlog
GetiPlayerPostProcessing/obj/x86/Release/GetiPlayerPostProcessing.Form1.resources
GetiPlayerPostProcessing/obj/x86/Release/GetiPlayerPostProcessing.Resources.resources
GetiPlayerPostProcessing/obj/x86/Release/GetiPlayerPostProcessing.AboutBox1.resources
GetiPlayerPostProcessing/obj/x86/Debug/TempPE/My Project.Resources.Designer.vb.dll
GetiPlayerPostProcessing/obj/x86/Release/GetiPlayerPostProcessing.application
GetiPlayerPostProcessing/obj/x86/Release/GetiPlayerPostProcessing.exe
GetiPlayerPostProcessing/obj/x86/Release/GetiPlayerPostProcessing.Settings.resources
GetiPlayerPostProcessing/obj/x86/Debug/GenerateResource.read.1.tlog
GetiPlayerPostProcessing/obj/x86/Debug/GetiPlayerPostProcessing.AboutBox1.resources
GetiPlayerPostProcessing/obj/x86/Release/GetiPlayerPostProcessing.exe.manifest
GetiPlayerPostProcessing/obj/x86/Release/GetiPlayerPostProcessing.pdb
GetiPlayerPostProcessing/obj/x86/Release/GetiPlayerPostProcessing.vbproj.FileListAbsolute.txt
GetiPlayerPostProcessing/obj/x86/Release/GetiPlayerPostProcessing.xml
GetiPlayerPostProcessing/obj/x86/Release/TempPE/My Project.Resources.Designer.vb.dll
GetiPlayerPostProcessing/bin/Release/app.publish/Application Files/GetiPlayerPostProcessing_1_0_0_21/GetiPlayerPostProcessing.exe.config.deploy
GetiPlayerPostProcessing/bin/Release/app.publish/Application Files/GetiPlayerPostProcessing_1_0_0_21/GetiPlayerPostProcessing.exe.deploy
GetiPlayerPostProcessing/bin/Release/app.publish/Application Files/GetiPlayerPostProcessing_1_0_0_21/GetiPlayerPostProcessing.exe.manifest
GetiPlayerPostProcessing/obj/x86/Release/GetiPlayerPostProcessing.vbproj.GenerateResource.Cache
GetiPlayerPostProcessing/obj/x86/Debug/GetiPlayerPostProcessing.vbproj.GenerateResource.Cache
GetiPlayerPostProcessing/bin/Release/app.publish/Application Files/GetiPlayerPostProcessing_1_0_0_25/GetiPlayerPostProcessing.exe.config.deploy
GetiPlayerPostProcessing/bin/Release/app.publish/Application Files/GetiPlayerPostProcessing_1_0_0_25/GetiPlayerPostProcessing.exe.deploy
GetiPlayerPostProcessing/bin/Release/app.publish/Application Files/GetiPlayerPostProcessing_1_0_0_25/GetiPlayerPostProcessing.exe.manifest